<a href="https://colab.research.google.com/github/venkateshgaja/ML-projects/blob/main/loanprediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df=pd.read_csv('/content/Loan_prediction(1).csv')
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df

In [ ]:
df.isnull().sum()

In [ ]:
df['Gender'].unique()

In [ ]:
a=df['Gender'].mode()
a

In [ ]:
df['Gender']=df['Gender'].map({'Male':1,'Female':2,'nan':a})

In [ ]:
df

In [ ]:
df['Gender'].unique()

In [ ]:
 #df['Gender']=df.fillna(df['Gender'].mean(),inplace=True)

In [ ]:
df

In [ ]:
df.isnull().sum()

In [ ]:
df['Married'].unique()

In [ ]:
b=df['Married'].mode()
b

In [ ]:

df['Married']=df['Married'].map({'No':1,'Yes':2})

In [ ]:
df['Dependents'].unique()

In [ ]:
df['Dependents']=df['Dependents'].map({'0':0,'1':1,'2':2,'3+':4})

In [ ]:
df['Self_Employed'].unique()

In [ ]:
df['Self_Employed']=df['Self_Employed'].map({'No':0,'Yes':1})

In [ ]:
df['Credit_History'].unique(

)

In [ ]:
#df.fillna(df.mode().iloc[0], inplace=True)

In [ ]:
df

In [ ]:
df.isnull().sum()

In [ ]:
df

In [ ]:
df

In [ ]:
df.drop('Loan_ID',axis=1)

In [ ]:
#df.cor()

In [ ]:
 #cor=df.corr()
 #cor

In [ ]:
df

In [ ]:
X=df.drop('Loan_Status',axis=1)
X

In [ ]:
X=df.drop(['Loan_ID','Loan_Status'],axis=1)
X

In [ ]:
df['Loan_Status']=df['Loan_Status'].map({'N':0,'Y':1})

In [ ]:
df

In [ ]:
y=df['Loan_Status']
y

In [ ]:
df

In [ ]:
df

In [ ]:
X['Education']=X['Education'].map({'Graduate':1,'NotGraduate':0})

In [ ]:
X['Property_Area']=X['Property_Area'].map({'Rural	':0,'Urban':2,'Semiurban':1})

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.35,random_state=30)

In [ ]:
df

In [ ]:
X

In [ ]:
X.fillna(X.mode().iloc[0], inplace=True)

In [ ]:
X.isnull().sum()

In [ ]:
from sklearn.linear_model import LogisticRegression
reg=LogisticRegression()
reg

In [ ]:
X.isnull().sum()

In [ ]:
X

In [ ]:
X.head(10)

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.35,random_state=30)

In [ ]:
from sklearn.linear_model import LogisticRegression
reg=LogisticRegression()
reg

In [ ]:
X.fillna(X.mode().iloc[0],inplace=True)

In [ ]:
X.isnull().sum()

In [ ]:
X

In [ ]:
reg.fit(X_train,y_train)

In [ ]:
y_test

In [ ]:
ypre=reg.predict(X_test)
ypre

In [ ]:
from sklearn.metrics import confusion_matrix
con=confusion_matrix(y_test,ypre)
con

In [ ]:
from sklearn.metrics import accuracy_score
ac=accuracy_score(y_test,ypre)
ac

In [ ]:
new=[[1,	2.0,	1.0,	1.0,	0.0	,12841,	10968.0,	349.0,	360.0,	1.0	,1.0]]
ypre=reg.predict(new)
ypre